---
import BlogPost from "../layouts/BlogPost.astro";
import PostCard from "../components/PostCard.astro";
import { getPostCards } from "../library/cms";

const PER_PAGE = 9;

const response = await getPostCards({ limit: PER_PAGE, offset: 0 });

---

<BlogPost title="新着記事" description="andco finance" pubDate={new Date()}>
  <main>
    <ul>
      {
        response.cards.map((content) => (
          <PostCard
            id={content.id}
            title={content.title}
            eyecatchUrl={content.eyecatchUrl}
            publishedAt={content.publishedAt}
            category={content.categories}
          />
        ))
      }
    </ul>
  </main>
</BlogPost>

<style>
  main {
    margin: auto;
    padding: 1em;
    width: 1200px;
    max-width: 100%;
    box-sizing: border-box;
  }

  ul {
    width: stretch;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    padding-left: 0;
  }

  @media (max-width: 768px) {
    ul {
      display: block;
    }
    :global(.post-card) {
      margin-bottom: 1rem;
    }
  }

</style>
